/* @import './assets/iconfont/demo.css'; */
body,html,#root,#watermark{
    width:100vw;
    height: 100vh;
    box-sizing: border-box;
}
*{
    padding:0px;
    margin:0px;
}
ul,li{
    list-style: none;
}
.iconfont{
    font-size: 16px!important;
}
