/* @import './assets/iconfont/demo.css'; */
body,html,#root{
    width:100%;
    /* height: 100%; */
    height: max-content;
    box-sizing: border-box;
    background-color: #f0f2f5;
    /* overflow-x: hidden; */
}
*{
    padding:0px;
    margin:0px;
}
ul,li{
    list-style: none;
}
.iconfont{
    font-size: 16px!important;
}
/* body{
    overflow-y: auto!important;
} */