@import '~antd/es/style/themes/default.less';
#root > .ant-layout {
  height: 100vh;
  box-sizing: border-box;
}
.site-layout-background {
  background-color: #fff;
}
.logo {
  float: left;
  width: 155px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
