.ant-tabs-nav {
  margin: 0px !important;
}
.breadcrumb {
  display: flex;
  .tab-line {
    width: calc(100% - 40px);
  }
  .breadcrumb-tool {
    width: 40px;
    height: 100%;
    background: #e9eaeb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
